<%- include ../layouts/header.ejs %>
        
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<div class="container">
    <div class="jumbotron">
        <h3><%= title %></h3>
        <form action="/tasks/edit/<%= id %>" method="post" name="form1">
            <div class="form-group">
                <label for="comment">Due Date:</label>
                <input type="date" id="due_date"  name="due_date" value="<%= due_date %>">
            </div>
            <div class="form-group">
                <label for="comment">Task Description:</label>
                <textarea id="task_name" class="form-control" rows="5"  id="task_name"  name="task_name" value="<%=task_name %>"><%=task_name %></textarea>
            </div>
            <div class="form-group center-block">
                <input type="submit" class="btn btn-primary" name="Submit" value="Edit" class="form-control">
            </div>
            <input type="hidden" name="_method" value="PUT" />
        </form>

    </div>
</div>